import React from 'react';
import PropTypes from 'prop-types';
import "./{componentName}.scss";

const {componentName} = () => {
	return (
	  <div></div>
	)
};

{componentName}.PropTypes = {

}

{componentName}.defaultProps = {

} 

export default {componentName};