'use strict';
// @flow
import React from 'react';
import ReactDOM from 'react-dom';
import {componentName} from './{componentName}';

it('{componentName} renders without crashing', () => {
  const div = document.createElement('div');
  ReactDOM.render(<{componentName} />, div);
  ReactDOM.unmountComponentAtNode(div);
});
